/* Styles pour la barre de navigation */
.navbar {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center; /* Aligner horizontalement le contenu au centre */
  align-items: center; /* Aligner verticalement le contenu au centre */
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Arrondi les contours de l'image */
  text-align: center;
  padding: 10px 16px;
}