/* Styles pour le contenu */
.content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }
  
  .content h1 {
    font-size: 24px;
    text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.5); /* Définit une ombre avec un décalage horizontal de 2px, un décalage vertical de 2px, un flou de 4px et une couleur de l'ombre avec une transparence de 0.5 */
  }
  
  .content form {
    margin-top: 10px;
  }
  
  .content input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .content input[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .content input[type="submit"]:hover {
    background-color: #4a0072;
  }
  