/* Media queries pour mobile */
@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: row; /* Afficher les éléments en ligne horizontale */
    padding: 0 0;
  }

  /* Réorganise la barre de navigation en colonne */
  .navbar {
    flex-direction: column; /* Afficher les éléments en colonne */
    margin-right: 20px; /* Ajouter une marge à droite pour l'espace entre la barre de navigation et la section */
    padding-bottom: 100%; /* Ajouter un espacement inférieur pour une meilleure apparence */
    height: 100vh
    
  }

  .navbar a {
    float: none;
    display: block;
    font-size: 14px; /* Réduire la taille de la police dans la navigation */
  }

  section {
    flex: 1; /* Faire en sorte que la section prenne le reste de l'espace disponible */
  }
}
