.navbar-web ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar-web ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .nav-button-web {
    background-color: #333;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .nav-button-web:hover {
    background-color: #4a0072;
    border: 2px solid yellow;
  }