.la_page_principale {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.chaque_case_avec_des_video {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    height: 23%;
    border: 1px solid;
    border-radius: 20px;


}
.zones_de_textes {
    display: flex;
    flex-direction: column;
}

.video {
    justify-content: center;
    max-width: 70%;
}

.titre_description_et_duree {
    max-width: 30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    scroll-behavior: auto;
}
.les_lignes_de_4_video {
    max-width: 45%;
    max-height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}
.la_petite_miniature {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
.la_page_principale {
    flex-direction: column;
    margin-top: 5%;
}

.chaque_case_avec_des_video {
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 1.5%;
}

.les_lignes_de_4_video {
    max-width: 100%;
}

.titre_description_et_duree {
    max-width: 100%;
    justify-content: center;
}

.zone_de_la_video {
    justify-content: center;
}

.la_petite_miniature {
    margin-left: 20%;
}

.zones_de_textes {
    display: flex;
    justify-content: center;
    margin-block-start: 1em;
    margin-block-end: 0em;
    text-align: center;
}
strong {
    display: flex;
    justify-content: center;
}
}