.navbar-web .img-icone {
    width: 95px;
    height: 95px;
    border-radius: 50%; /* Arrondi les contours de l'image */
    text-align: center;
    padding: 10px 16px;
    box-sizing: revert!important;
  }