.navbar{
background-color: rgba(33,37,41,1)!important;
border-bottom: 2px solid rgb(152 22 255);
overflow: hidden;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar.show{
  display: none;
}